{% extends 'base.html' %}
{% load static %}

{% block title %}Profil - Maishiy Texnika Magazini{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Profil menyu</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'profile' %}" class="text-decoration-none">Profil ma'lumotlari</a></li>
                        <li><a href="{% url 'orders' %}" class="text-decoration-none">Buyurtmalar</a></li>
                        <li><a href="{% url 'wishlist' %}" class="text-decoration-none">Sevimlilar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h3>Profil ma'lumotlari</h3>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Ism</label>
                                    <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Familiya</label>
                                    <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" value="{{ user.email }}">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}