{% extends 'base.html' %}
{% load static %}

{% block title %}Biz haqimizda - Maishiy Texnika Magazini{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="text-center mb-5">Biz haqimizda</h1>
            
            <div class="card">
                <div class="card-body">
                    <p class="lead">Maishiy Texnika Magazini - O'zbekistondagi eng yirik maishiy texnika do'konlaridan biri.</p>
                    
                    <p>Biz 2020-yildan beri faoliyat yuritib kelamiz va mijozlarimizga eng sifatli mahsulotlarni taqdim etishga harakat qilamiz.</p>
                    
                    <h4>Bizning afzalliklarimiz:</h4>
                    <ul>
                        <li>Eng sifatli mahsulotlar</li>
                        <li>Arzon narxlar</li>
                        <li>Tez yetkazib berish</li>
                        <li>Kafolat xizmati</li>
                        <li>Professional yordam</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}