{% extends 'base.html' %}
{% load static %}

{% block title %}Yetkazib berish - Maishiy Texnika Magazini{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="text-center mb-5">Yetkazib berish</h1>
            
            <div class="card">
                <div class="card-body">
                    <h4>Yetkazib berish shartlari</h4>
                    
                    <ul>
                        <li>500,000 so'mdan yuqori xaridlarda yetkazib berish bepul</li>
                        <li>500,000 so'mdan kam xaridlarda yetkazib berish 50,000 so'm</li>
                        <li>Toshkent shahri bo'ylab 1-2 kun ichida yetkazib beramiz</li>
                        <li>Viloyatlarga 3-5 kun ichida yetkazib beramiz</li>
                    </ul>
                    
                    <h4>Yetkazib berish vaqtlari</h4>
                    <p>Dushanba - Shanba: 9:00 - 18:00</p>
                    <p>Yakshanba: Dam olish kuni</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}