{% extends 'base.html' %}
{% load static %}

{% block title %}Qaytarish siyosati - Maishiy Texnika Magazini{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="text-center mb-5">Qaytarish siyosati</h1>
            
            <div class="card">
                <div class="card-body">
                    <h4>Qaytarish shartlari</h4>
                    
                    <ul>
                        <li>Mahsulotni 14 kun ichida qaytarish mumkin</li>
                        <li>Mahsulot asl holatida bo'lishi kerak</li>
                        <li>Chek yoki kvitansiya bo'lishi shart</li>
                        <li>Texnik jihatdan nosoz mahsulotlar uchun kafolat amal qiladi</li>
                    </ul>
                    
                    <h4>Qaytarish jarayoni</h4>
                    <ol>
                        <li>Bizga qo'ng'iroq qiling: +998 90 123 45 67</li>
                        <li>Qaytarish sababini tushuntiring</li>
                        <li>Mahsulotni do'konimizga olib keling</li>
                        <li>Tekshiruvdan so'ng pulni qaytarib beramiz</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}